@import "./_mixins";
@import "./_typography";

// Project placeholders
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Utilities
//////////////////////////////////////////////////////

$flex--center
  display flex
  align-items center
  justify-content center

// Ellipsis to long string
$lineOverflow
  display block
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// Защита для больших блоков текста, например в гридах
$longLettersProtection
  -ms-word-break break-all
  word-break break-all
  word-break break-word
  -webkit-hyphens auto
  -moz-hyphens auto
  -ms-hyphens auto
  hyphens auto


// Elements
//////////////////////////////////////////////////////

// Buttons
$button
  user-select none
  cursor pointer
  white-space nowrap
  outline none
  text-align center
  transition background $effects.duration
  background transparent
  color $colors.black
  padding ($gutter / 4) ($gutter * 1.5)
  border $border-width solid $colors__border
  box-shadow none
  text-decoration none
  text-transform uppercase
  $text("katya")

$switch
  margin $gutter * 2 auto 0
  border $border-width solid $colors.black
  width 140px
  list-style none
  position relative
  display flex
  flex-direction:row

  &__item
    flex-grow 1
    text-align center
    text-transform uppercase
    $text("katya")

    span,
    a
      box-sizing border-box
      display block
      padding ($gutter / 10) ($gutter / 4)
      text-decoration none
      width 100%
      height 100%

    &--active
      background $colors.primary

  &__wrapper
    display flex
    justify-content center
