// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

$gutter = 20px
$border-width = 3px

// Palette
//////////////////////////////////////////////////////

$colors = {
  cat: #fed564,
  dog: #8bc24c,
  bird: #fd5f00,
  wood: #515bd4,
  stone: #ffffff,
  sea: #13334c,
  cosmos: #000000,
  ghost: #a48ed8,

  sky: #dddddd,
  ball: #b1b1b1,
}
// Dependencies colors
$colors["text"] = $colors.sea
$colors["primary"] = $colors.cat
$colors["secondary"] = $colors.dog
$colors["active"] = $colors.bird
$colors["dark"] = darken($colors.sea, 10)
$colors["white"] = $colors.stone
$colors["black"] = $colors.cosmos


// Breakpoints
//////////////////////////////////////////////////////

$breakpoints = {
  small: 1380px,
  desktop: 1025px,
}


// Others from guide
//////////////////////////////////////////////////////

$opacites = {
  waltz: 1,
  funky: 0.75,
  psy: 0.5,
  rock: 0.33,
  pop: 0.25,
  jazz: 0.15,
  reggae: 0,
}

$effects = {
  duration: 0.1s,
}
