// Test
//////////////////////////////////////////////////////
$var--global = #ff0000

// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Palette
//////////////////////////////////////////////////////

$colors = {
  cat: #fed564,
  dog: #8bc24c,
  bird: #fd5f00,
  wood: #515bd4,
  stone: #ffffff,
  sea: #13334c,

  sky: #dddddd,
  ball: #b1b1b1,
}
// Dependencies colors
$colors["text"] = $colors.sea
$colors["primary"] = $colors.cat
$colors["secondary"] = $colors.dog
$colors["border"] = $colors.sky
$colors["shadows"] = $colors.ball


// Breakpoints
//////////////////////////////////////////////////////

$breakpoints = {
  tablet: 768px,
  desktop: 1025px,
}
$breakpoints["mobile--max"] = $breakpoints.tablet - 1
$breakpoints["tablet--max"] = $breakpoints.desktop - 1


// Others from guide
//////////////////////////////////////////////////////

$border-radiuses = {
  soccer: 0,
  dancing: 3px,
  swimming: 4px,
  shooting: 10px,
}

$opacites = {
  waltz: 1,
  funky: 0.75,
  rock: 0.66,
  psy: 0.45,
  pop: 0.2,
  reggae: 0,
}
$colors["placeholder"] = rgba($colors.sea, $opacites.pop)

$effects = {
  duration: 0.1s,
  amount: 10%,
}


// Elements
//////////////////////////////////////////////////////

$wrapper = {
  gutter--desktop: 40px,
  gutter--tablet: 32px,
  gutter--mobile: 24px,

  width--max: 1280px,
}

$grids = {
  gutter--desktop: 32px,
  gutter--tablet: 24px,
  gutter--mobile: 16px,
}

$inputs = {
  height--input: 40px,
  height--textarea: 160px,

  padding: 16px,

  background--default: rgba($colors.wood, $opacites.pop),
  background--error: rgba($colors.bird, $opacites.pop),
}

$buttons = {
  height--large: 48px,
  height--normal: 40px,
  height--small: 24px,

  height--textarea: 200px,

  background--primary: $colors.primary,
  background--secondary: $colors.secondary,

  color--primary: $colors.stone,
  color--secondary: $colors.stone,
}
