// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

$gutter = 20px
$border-width = 3px

// Palette
//////////////////////////////////////////////////////

$colors = {
  cat: #fed564,
  dog: #8bc24c,
  bird: #fd5f00,
  wood: #515bd4,
  stone: #ffffff,
  sea: #13334c,
  cosmos: #000000,

  sky: #dddddd,
  ball: #b1b1b1,
}
// Dependencies colors
$colors["text"] = $colors.sea
$colors["primary"] = $colors.cat
$colors["secondary"] = $colors.dog
$colors["border"] = $colors.sky
$colors["shadows"] = $colors.ball
$colors["white"] = $colors.stone
$colors["black"] = $colors.cosmos


// Breakpoints
//////////////////////////////////////////////////////

$breakpoints = {
  desktop: 1025px,
}


// Others from guide
//////////////////////////////////////////////////////

$border-radiuses = {
  soccer: 0,
  dancing: 3px,
  swimming: 4px,
  shooting: 10px,
}

$opacites = {
  waltz: 1,
  funky: 0.75,
  rock: 0.66,
  psy: 0.45,
  pop: 0.2,
  reggae: 0,
}

$effects = {
  duration: 0.1s,
  amount: 10%,
}


// Elements
//////////////////////////////////////////////////////
